<container class="columns is-multiline featured-box">
  {{#each posts as |post|}}
  <main class="card com-cards m-3">
    <div class="column">
      <section class="card-image feature">
        <a href="/post/{{id}}">
          <figure class="image is-128x128">
            <img src="{{image}}" alt="Placeholder image">
          </figure>
      </section>
      <section class="card-description">
        <div class="card-content">
          <span class="content">
            <p>Posted by: {{user.username}} </p>
            <p>On: {{format_date date_posted}} </p>
          </span>
        </div>
        </a>
      </section>
    </div>
  </main>
  {{/each}}
</container>