<div class="card m-3">
  <div class="card-image">
    <figure class="image is-128x128">
      <img src="/images/fish.jpg" alt="Placeholder image">
    </figure>
  </div>
</div>
<div class="card m-3">
  <div class="card-image">
    <figure class="image is-128x128">
      <img src="/images/brick.jpg" alt="Placeholder image">
    </figure>
  </div>
</div>