<container class="columns featured-box">
<div class="card m-3">
  <div class="column">
  <div class="card-image feature">
    <figure class="image is-128x128">
      <img src="/images/fish.jpg" alt="Placeholder image">
    </figure>
  </div>
    <div class="card-description">
    <div class="card-content">
    <div class="content">
      <p>Posted by: </p>
      <p>On: </p>
    </div>
  </div>
    <footer class="card-footer">
    <a href="#" class="card-footer-item"><span style="font-size: 10px"> 
    <i class="far fa-thumbs-up"></i></span></a>
    <a href="#" class="card-footer-item"><span style="font-size: 10px">
    <i class="far fa-thumbs-down"></i></span></a>
    <a href="#" class="card-footer-item is-primary"><span style="font-size: 10px">
      Comment</span></a>
  </footer>
  </div>
</div>
</div>

<div class="card m-3">
  <div class="column">
  <div class="card-image feature">
    <figure class="image is-128x128">
      <img src="/images/brick.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-description">
    <div class="card-content">
    <div class="content">
      <p>Posted by: </p>
      <p>On: </p>
    </div>
  </div>
    <footer class="card-footer">
    <a href="#" class="card-footer-item"><span style="font-size: 10px"> 
    <i class="far fa-thumbs-up"></i></span></a>
    <a href="#" class="card-footer-item"><span style="font-size: 10px">
    <i class="far fa-thumbs-down"></i></span></a>
    <a href="#" class="card-footer-item is-primary"><span style="font-size: 10px">
      Comment</span></a>
  </footer>
  </div>
</div>
</div>
</container>