<div class="columns">

{{! empty column }}
    <div class="column your-posts">
      <h2 class="title">Your Posts:</h2>
      {{#each posts as |post|}}
      <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{image}}" alt="Placeholder image">
    <button class="button is-danger is-light" data-id="{{id}}">DELETE</button>
    </figure>
  </div>
</div>
{{/each}}
</div>

{{! "center" column for image cards }}
    <div class="column">
<form class="new-post">
<div class="field">
  <p class="control">
    <input class="input" type="text" id="description-input" placeholder="Enter a short description of this art....">
  </p>
</div>
<div class="field">
  <p class="control">
    <input class="input" type="text" id="location-input" placeholder="What city can it be found in?">
  </p>
</div>
<div class="field">
  <p class="control">
  </p>
</div>
</form>
            {{! cloudinary upload widget  }}
<button id="upload_widget" class="cloudinary-button">Upload Photo</button>
    {{!-- <button class="button is-primary" type="submit">
      Submit Post
    </button> --}}

{{! end center column}}
</div>

{{! empty column }}
 <div class="column">

</div>

    


<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 

<script src="/js/photos.js"></script>

