<div class="card m-6">
  <div class="column">
    <div class="card-image feature">
      <figure class="image is-fullwidth">
        <img src="{{image}}" alt="Placeholder image" />
      </figure>
    </div>

    <div class="card-description">
      <div class="content">
        <p>
          Posted by:
          {{User.username}}
          <br />
          On:
          {{format_date date_posted}}
        </p>
      </div>
    </div>

  </div>
</div>