<div class="card m-3">
  <div class="column">
  <div class="card-image feature">
    <figure class="image is-128x128">
      <img src="{{image}}" alt="Placeholder image">
    </figure>
  </div>
    <div class="card-description">
    <div class="card-content">
    <div class="content">
      <p>Posted by: {{User.username}} </p>
      <p>On: {{format_date date_posted}} </p>
    </div>
  </div>
  </div>
</div>
</div>