.title {
    font-family: 'Zen Tokyo Zoo', cursive !important;
    /* font-size: 110px; */
}
.subtitle {
    font-family: 'Indie Flower', cursive;
    /* font-size: 30px;
    margin-left: 100px; */
}
.navbar-brand {
    display: block;
}
.has-background {
    background: url('../images/wall3.jpg')center center; 
    background-size:cover;
}
.com-cards {
    max-width: 150px;
    max-height: 150px;
    background-color: rgba(221, 217, 217, 0);
    border: none;
}

.img {
    opacity: 100%;
}
.card-description {
    opacity: 0;
    display: none;
}
.com-cards:hover {
    transition: .6s;
    transform: scale(2.5);
    z-index: 1;
    background-color: rgba(163, 150, 150, 0.658);
}
/* .card:hover img {
    transition: .6s;
    transform: scale(2);
} */
.com-cards:hover .card-description {
    opacity: 1;
    display: block;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    font-family: 'Zen Tokyo Zoo',
    /* font-size: 110px; */
}

#my-image {
    max-width: 250px;
    min-width: 250px;
    height: 250px;
    position: relative;
    flex: 1;
    margin: 20px;
    overflow: hidden;
}

#delete{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;

}

.image:hover #delete{
    bottom: 0;
}

#delete #deleteBtn{
    color: #000;
    font-size: 15px;
    justify-content: center;
   
}


.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}