.title {
    font-family: 'Zen Tokyo Zoo', cursive !important;
    /* font-size: 110px; */
}
.subtitle {
    font-family: 'Indie Flower', cursive;
    /* font-size: 30px;
    margin-left: 100px; */
}
.navbar-brand {
    display: block;
}
.has-background {
    background: url('../images/wall3.jpg')center center; 
    background-size:cover;
}
.card {
    max-width: 128px;
}