.title {
    font-family: 'Zen Tokyo Zoo', cursive !important;
    /* font-size: 110px; */
}
.subtitle {
    font-family: 'Indie Flower', cursive;
    /* font-size: 30px;
    margin-left: 100px; */
}
.navbar-brand {
    display: block;
}
.has-background {
    background: url('../images/wall3.jpg')center center; 
    background-size:cover;
}
.card {
    max-width: 150px;
    max-height: 150px;
    background-color: rgba(221, 217, 217, 0);
    border: none;
}

.img {
    opacity: 100%;
}

/* move the desc */
.card-description {
    position: relative;
    opacity: 0;
    display: none;
}
.card:hover {
    transition: .6s;
    transform: scale(2.5);
    z-index: 1;
    background-color: rgba(163, 150, 150, 0.658);
}
/* .card:hover img {
    transition: .6s;
    transform: scale(2);
} */
.card:hover .card-description {
    opacity: 1;
    display: inline;
}